{# src/BLOG/GeneralBundle/Resources/views/Category/list.html.twig #}

{# Ce template n'hérite de personne, tout comme le template inclus avec {{ include() }}. #}
<ul class="nav nav-pills nav-stacked">
    {% for category in listCategories %}
        <li>
            <a href="{{path('blog_general_categoryview', 
                                            {'id': category.id , 
                                            'slug': category.name|url_encode}
                            ) 
                    }}">{{ category.name }}</a>
        </li>
    {% else %}
        <li>Aucune catégorie</li>
    {% endfor %}
</ul>